{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "corejs": "3.0.0"
          }
        ]
      ]
    }
  }
}
